.u-section-1 .u-sheet-1 {
  min-height: 435px;
}

.u-section-1 .u-text-1 {
  font-family: Audiowide;
  text-shadow: -2px 2px 8px rgba(128,128,128,1);
  letter-spacing: 0px;
  margin: 207px auto 0;
}

.u-section-1 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  font-family: Montserrat, sans-serif;
  margin: 14px 417px 0 416px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin: 40px auto 50px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-left: 316px;
    margin-right: 317px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-left: 206px;
    margin-right: 207px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-left: 116px;
    margin-right: 117px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-text-2 {
    margin-left: 16px;
    margin-right: 17px;
  }
}